extends layout 

block content

    h1 Page Couldn't Found!
    h4 Click the button below to get to the HomePage! 

    .button-container
      button(type='button' class='btn btn-primary') 
         a(href='/colours') HomePage