extends layout 

block content

   h1(class='display-3') Colour Selector
   h4 Click the view detail buttons below to view more information about any Colour! 
   h4 Click the Create button if you wish to Update or Create a Colour!

   p(id='delmsg' style={'display': 'none'}) Colour Successfuly Deleted!

   .button-container
      button(type='button' class='btn btn-primary') 
         a(href='/colours/create') Create a Colour

   table(id="coloursTable")
      tr
         th(style={'border': '2px solid' + cookie}) Colour ID
         th(style={'border': '2px solid' + cookie}) Colour Name
         th(style={'border': '2px solid' + cookie}) View Details
      for colour in colours
         tr
            td(style={'border': '2px solid' + cookie}) #{colour.colorId}
            td(style={'border': '2px solid' + cookie}) #{colour.name}
            td(style={'border': '2px solid' + cookie})
               button(type='button' class='btn btn-primary') 
                  a(href='/colours/' + colour.colorId) View Details 